    <h2>Duties Management System</h2>
   
    <form action="" method="post" id="addDutyForm">
        <fieldset>
            <legend>
                Add Duty:
            </legend>
            <label>Priority:</label>
            <input type="number" id="priorityAdd" name="priorityAdd">
            <br>
            <br>

            <label>Responsibilities:</label>
            <input type="text" id="responsibleAdd" name="responsibleAdd">
            <br>
            <br>

            <input type="submit" id="submitButton" value="Add Duty" />
        </fieldset>
    </form>
    <br>
    
    <form action="" method="get" id="allDutyForm">
        <fieldset>
            <legend>
                Duties Rundown:
            </legend>

            <input type="submit" id="submitButton" value="Display Duties" />
        </fieldset>
    </form>
