    <h2>Personnel Duty Assignment System</h2>
    
    <form action="" method="post" id="addPersonDutyForm">
        <fieldset>
            <legend>
                Add Duty:
            </legend>
            <label>Personnel ID:</label>
            <input type="number" id="personIDAdd" name="personIDAdd">
            <br>
            <br>

            <label>Duty ID:</label>
            <input type="number" id="dutyIDAdd" name="dutyIDAdd">
            <br>
            <br>

            <input type="submit" id="submitButton" value="Assign Personnel to Duty" />
        </fieldset>
    </form>
    <br>
    
    <form action="" method="get" id="allPersonDutyForm">
        <fieldset>
            <legend>
                Complete Personnel to Duty Assignments:
            </legend>

            <input type="submit" id="submitButton" value="Display Assignments" />
        </fieldset>
    </form>

    <h2>Personnel Duty Assignments</h2>
    <form>
        <input type="submit" value="Retrieve Personnel Duty Assignments">
    </form>
    <br>

    <table>
        <thead>
            <tr>
                <th>Personnel ID</th>
                <th>Duty ID</th>
            </tr>
        </thead>
        <tbody>
            {{#each personnel}}
            <tr>
                <td>{{personnelId}}</td>
                <td>{{dutyId}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>