<p>The Federation comprises 150 worlds, with over 900 billion individuals. </p>
<p>Starfleet Command has over 7000 vessels with total crews over 1 million, which are tasked with protecting the Federation while exploring further reaches of space.</p>
<p>This database driven website will keep track of all personnel, ranks, ships, duties and missions for use by the Starfleet Command.</p>
