    <h2>Mission Management System</h2>
    
    <fieldset>
        <legend>Add Mission</legend>
        <form action="/missions" method="post">
            <label for="directive">Directive</label>
            <input type="text" id="directive" name="directive">
            <label for="status">Status</label>
            <input type="number" id="status" name="status">
            <label for="location">Location</label>
            <input type="text" id="location" name="location">
            <input type="submit" value="Add Mission">
        </form>
    </fieldset>
    <br>
    
    <h2>Missions</h2>
    
    <table>
        <thead>
            <tr>
                <th>Mission ID</th>
                <th>Directive</th>
                <th>Status</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            {{#each missions}}
            <tr>
                <td>{{missionID}}</td>
                <td>{{directive}}</td>
                <td>{{status}}</td>
                <td>{{location}}</td>
            </tr>
            {{/each}}
            
        </tbody>
    </table>
    