    <h2>Ranks Management System</h2>

    <fieldset>
        <legend>Add Rank</legend>
        <form action="/ranks" method="post">
            <label for="rankName">Rank:</label>
            <input type="text" id="rankName" name="rankName">
            <br>
            <br>
            <label for="pay">Pay:</label>
            <input type="number" id="pay" name="pay">
            <br>
            <br>
            <label for="minYears">Minimum Years Experience Required:</label>
            <input type="number" id="minYears" name="minYears">
            <br>
            <br>
            <input type="submit" value="Add Rank">
        </form>
    </fieldset>
    <br>

    <h2>Ranks</h2>
    
    <table>
        <thead>
            <tr>
                <th>Rank ID</th>
                <th>Rank</th>
                <th>Pay</th>
                <th>Minimum Required Years</th>
            </tr>
        </thead>
        <tbody>
            {{#each ranks}}
            <tr>
                <td>{{rankId}}</td>
                <td>{{rankName}}</td>
                <td>{{pay}}</td>
                <td>{{minYears}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    