    <h2>Ranks Management System</h2>

    <fieldset>
        <legend>Add Rank</legend>
        <form>
            <label for="rankName">Rank</label>
            <input type="text" id="rankName" name="rankName">
            <br>
            <label for="pay">Pay</label>
            <input type="text" id="pay" name="pay">
            <br>
            <label for="minYears">Minimum Years Experience Required</label>
            <input type="text" id="minYears" name="minYears">
            <br>
            <input type="submit">
        </form>
    </fieldset>
    <br>

    <h2>Ranks</h2>
    <form>
        <input type="submit" value="Retrieve Ranks">
    </form>
    <br>

    <table>
        <thead>
            <tr>
                <th>Rank ID</th>
                <th>Rank</th>
                <th>Pay</th>
                <th>Minimum Required Years</th>
            </tr>
        </thead>
        <tbody>
            {{#each ranks}}
            <tr>
                <td>{{rankId}}</td>
                <td>{{rankName}}</td>
                <td>{{pay}}</td>
                <td>{{minYears}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    