<form action="/personnel/update" method="post" id="updatePersonForm">
        <fieldset>
            <legend>Update Personnel:</legend>
            <label>First Name:</label>
            <input type="text" id="fnameUpdate" name="fnameUpdate">
            <br>
            <br>

            <label>Last Name:</label>
            <input type="text" id="lnameUpdate" name="lnameUpdate">
            <br>
            <br>

            <label>Rank:</label>
            <input type="text" id="rankUpdate" name="rankUpdate">
            <br>
            <br>

            <label>Ship:</label>
            <input type="text" id="shipUpdate" name="shipUpdate">
            <br>
            <br>

            <input type="submit" id="submitButton" value="Update Personnel" />
        </fieldset>
    </form>
    <br>
